body{
    margin: 0;
    padding: 0;
    background-color: rgb(238 238 255 / 90%);
}
.navlogo {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: rgb(0 45 255 / 72%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    padding-left: 90px;
    padding-right: 50px;
    gap: 2px;
    position: fixed;
    top: 0;
    /* सुनिश्चित करें कि यह पेज के टॉप पर है */
    width: 95%;
    z-index: 1000;
    /* ओवरलैपिंग को रोकने के लिए */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Shadow जोड़ें */
}

.navlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    margin-right: 0;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 600px;
    height: 35px;
    background-color: white;
    border: none;
    /* padding: 0 4px; */
    font-size: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.304);
}

#nav_ul {
    display: flex;
    list-style: none;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    font-family: var(--font-3);
    /* font-size: 14px;   */
    white-space: nowrap;
    /* gap: 75px; */
    font-weight: bold;
}

#logo {
    font-size: 30px;
    width: 140px;
    height: 33px;
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-family: var(--font-4);
}

#logo1 {
    font-size: 13px;
    color: white;
}

#plus {
    font-size: 13px;
    color: rgb(255, 179, 0);
    font-weight: bolder;
}


#brand {
    display: flex;
    flex-direction: row;
}

#login {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    color: black;
    height: 30px;
    width: 120px;
    justify-content: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.304);
    color: rgba(0, 0, 255, 0.718);
    font-weight: bold;
    margin-left: 184px;
    font-size: 20px;
}

.cart_section{
    margin-top: 80px;
    margin-bottom: 34px;
    margin-left: 123px;
    /* border: 2px solid red; */
    width: 83vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.304);
}
.cart_section img{
    padding: 20px;
    width: 245px;
}
.cart_section button{
    height: 37px;
    width: 170px;
    color: white;
    background-color: orangered;
    border: none;
}
.cart_section :nth-child(2){
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
} 
.cart_section :nth-child(3){
    font-size: 15px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:23px 125px;
    color: rgba(0, 0, 0, 0.705);
}
hr{
    color: rgba(0, 0, 0, 0.705);
}


